 
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

<div class="row" style="padding-top: 35px">
  <div class="col-md-4">
    <div class="media">
      <div class="media-left">
        <a href="#">
          {{#if userload.picture}}
          <div id="googlepic"></div>
          {{else}}
          <img src="{{userload.gravatar}}" class="media-object">
          {{/if}}
        </a>
      </div>
    </div>
    <h1>{{userload.name}}</h1>
    <h3>{{userload.username}}</h3>
    <p>{{userload.bio}}</p>
    {{#if userload.company}}
    <div class="row">
      <div class="col-sm-2">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        {{dotdotdot userload.company}}
      </div>
    </div>
    {{/if}}
    {{#if userload.location}}
    <div class="row">
      <div class="col-sm-2">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        {{userload.location}}
      </div>
    </div>
    {{/if}}
    {{#if userload.email}}
    <div class="row">
      <div class="col-sm-2">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        <a href="mailto:{{userload.email}}">{{userload.email}}</a>
      </div>
    </div>
    {{/if}}
    {{#if userload.website}}
    <div class="row">
      <div class="col-sm-2">
        <i class="fa fa-link" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        <a href="http://{{userload.website}}" target="_blank">{{userload.website}}</a>
      </div>
    </div>
    {{/if}}
    {{#if userload.permission}}
    <div class="row">
      <div class="col-sm-2">
        <i class="fa fa-key" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        {{userload.permission}}
      </div>
    </div>
    {{/if}}
    <hr>
    <h3>Organizations</h3>
    <p>This user is not apart of any Organizations.</p>   
  </div>
  <div class="col-md-8">
    <h1>Public Assemblies</h1>
    <hr>
    <div id="assemblies">
      <p>No public assemblies are visible for this user.</p>
    </div>
    <h1>Public Components</h1>
    <hr>
    <div id="components">
      <p>No public components are visible for this user.</p>
    </div>
 
    <h1>Contributions in the last year.</h1>
       <hr>
    <div id="cal-heatmap"></div>
  </div>
</div>





<script type="text/javascript">

var username = JSON.stringify('{{userload.username}}')
var user = JSON.stringify('{{user.username}}')




  var text = '{{userload.picture}}'
  text =text.replace("sz&#x3D;50", "sz&#x3D;200");
  $('#googlepic').html('<img src="'+text+'" class="media-object">')

///////////////////////////// 
//////  INITIALISE    //////
/////////////////////////// 
$( document ).ready(function() {
  var username = JSON.stringify('{{userload.username}}')
  //var calender =  {{calender}}
  //console.log(calender)
  heatmap()
  if (username == user) {
    $('#assemblies').html('Loggedin as '+user)
    $('#components').html('Loggedin as '+user)
    
  }
});

///////////////////////////// 
//////  HEAT MAP      //////
/////////////////////////// 
function heatmap(){
  var cal = new CalHeatMap();
  cal.init({
    domain: "month",
    range: 12,
  });
}

</script>