    <p></p>
    <div class="row">
      <div class="col-md-3">
            <div class="media">
      <div class="media-center">

        <a href="#">
          {{#if user.picture}}
           <img src="{{user.picture}}" class="media-object" style="max-width: 100%">
          {{else}}
          <img src="{{user.gravatar}}" class="media-object">
          {{/if}}
        </a>
      </div>
    </div>

      </div>



      <div class="col-md-5">



    <h1>{{user.name}}</h1>
    <h3>{{user.username}}</h3>
    <p>{{user.bio}}</p>

</div>
<div class="col-md-4">

<div style="padding-top: 55px"></div>

    {{#if user.company}}
    <div class="row">
      <div class="col-sm-2">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        {{dotdotdot user.company}}
      </div>
    </div>
    {{/if}}




    {{#if user.location}}
    <div class="row">
      <div class="col-sm-2">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        {{user.location}}
      </div>
    </div>
    {{/if}}
    {{#if user.email}}
    <div class="row">
      <div class="col-sm-2">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        <a href="mailto:{{user.email}}">{{user.email}}</a>
      </div>
    </div>
    {{/if}}
    {{#if user.website}}
    <div class="row">
      <div class="col-sm-2">
        <i class="fa fa-link" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        <a href="http://{{user.website}}" target="_blank">{{user.website}}</a>
      </div>
    </div>
    {{/if}}
    {{#if user.permission}}
    <div class="row">
      <div class="col-sm-2">
        <i class="fa fa-key" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        {{user.permission}}
      </div>
    </div>
    {{/if}}
 

      </div>
    </div>

<hr>