<h1>Bulk Edit <a class="btn btn-primary" id="activate" onclick="saveme()" disabled>Save</a></h1>
<p>Improve this by only saving the modifications.</p>

<style type="text/css">
  .hot-container {
    width: 100%;
    min-height: 800px;
    overflow: auto;
  }
</style>


<div id="example3" class="hot-container" ></div>



<script type="text/javascript">

  var query = {{{query}}}
  var query1 = {{{query1}}}
  var query2 = {{{query2}}}
  var query3 =  {{{query3}}} 
  var query4 = {{{query4}}}
  var hot;
/////////////////////////////
////     DEBUG AREA     //// 
///////////////////////////
console.log( 'TABLEBROWSER LOADING' )
console.log( '-------------------------' )
console.log( 'query : ',query )
console.log( 'query1 : ',query1 )
console.log( 'query2 : ',query2 )
console.log( 'query3 : ',query3 )
console.log( 'query4 : ',query4 )
console.log( '-------------------------' )
console.log( 'TABLEBROWSER LOADING' )

///////////////////////////// 
//////  INITIALISE    //////
/////////////////////////// 
$('document').ready(function(){
  var columns =[]
  var headings =[]

  for (var i = 0; i < query2.length; i++) {
    columns.push({data: "entry."+query2[i].elementID})
    headings.push(query2[i].entry.description)
  }

  var container3 = document.getElementById('example3')
  hot = new Handsontable(container3, {
    data: query3,
    columns: columns,
    colHeaders:headings,
    rowHeaders: true,
    minSpareRows: 1,
    stretchH: 'all',
    afterChange: onChange
  });
}) 

function onChange(changes, source) {
  if (!changes) {
    return;
  }
  $('#activate').removeAttr('disabled');

}

function saveme(){
  var dataset = hot.getData()
  for (var i = 0; i < dataset.length-1; i++) {
    var primer = dataset[i] 
    primer.parentid=query.elementID
 
    if(primer.elementID == ''){
      primer.revision = 'created'
    } else {
      primer.revision = 'updated'
    }
    primer.active = "true"
      //Jquery send to server
      jQuery.ajax({
        'url': '/create',
        'type': 'POST', 
        'dataType': 'json',
        'contentType': 'application/json', 
        'data': JSON.stringify(primer),
        'success': function (dataSchemaObject) {
          console.log('returned success')
        },
        'error' : function (dataSchemaObject) {
          console.log('returned error')
        },
      });  
    } 
  }

</script>    