<div class="panel panel-default">
  <div class="panel-body">  

 
     <h2 id="name"></h2>
    <p id="detail"></p>

   
    <div  id="toolbar"class="btn-group" role="group" aria-label="..." style="position: absolute;top: 2px;right: 19px;color: grey">
    </div>
    <p></p>
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="tablist">
      </ul>
      <!-- Tab panes -->
      <div class="tab-content" id="tab">
      </div><a href="/organization/new" class="btn btn-default">New Organization</a>
    </div>
  </div>
</div>

<script type="text/javascript">

var query = {{{query}}}
var query1 = {{{query1}}}
var query2 = {{{query2}}}
var query3 = {{{query3}}}
var query4 = {{{query4}}}


console.log( '-------------------------' )
console.log( 'query : ',query )
console.log( 'query1 : ',query1 )
console.log( 'query2 : ',query2 )
console.log( 'query3 : ',query3 )
console.log( 'query4 : ',query4 )
console.log( '-------------------------' )

var tablelistdata = {{{databaseitems}}};
var items = {{{menuitem}}}
var formids = create_uid()
var templateload = {{{templateload}}}
  
/////////////////////////////////////
////     HEADINGS AND STUFF     //// 
///////////////////////////////////
$('#name').html(items.name)
$('#detail').html(items.detail)


/////////////////////////////
////     DEBUG AREA     //// 
///////////////////////////
console.log( 'organizationview loading' )
console.log( '-------------------------' )
console.log( 'tablelistdata : ',tablelistdata )
console.log( 'items : ',items )
console.log( 'formids : ',formids )
console.log( 'templateload : ',templateload )
console.log( '-------------------------' )
console.log( 'organizationview loading' )

/////////////////////////////
////     LAYOUT VIEW    //// 
///////////////////////////
function layoutView() {
  if (items.entry.layout) {
   for (var i = 0; i < items.entry.layout.length; i++) {
    templateLoad(items.entry.layout[i],'toolbar')
  }
}  else {
  templateLoad(['parentraw'],'toolbar')
  templateLoad(['add'],'toolbar')
}
}

/////////////////////////////
////     TABS VIEW      //// 
///////////////////////////
function tabview() {
  if (items.entry.tabs) {
   for (var i = 0; i < items.entry.tabs.length; i++) {
    templateLoad(items.entry.tabs[i],'tab')
  }
}  else {
  templateLoad(['table'],'tab')
}
}

/////////////////////////////
////    TABLIST         //// 
///////////////////////////
function tablist(){
  var html = ''
  if (items.entry.tabs) {
   for (var i = 0; i < items.entry.tabs.length; i++) {
     
    if (i==0) {
      html +='<li role="presentation" class="active"><a href="#'+items.entry.tabs[i]+'" aria-controls="'+items.entry.tabs[i]+'" role="tab" data-toggle="tab">'+capitalize(items.entry.tabs[i])+'</a></li>'
    } else {
      html +='<li role="presentation"><a href="#'+items.entry.tabs[i]+'" aria-controls="'+items.entry.tabs[i]+'" role="tab" data-toggle="tab">'+capitalize(items.entry.tabs[i])+'</a></li>'
    }
  }
}  else {
  html +='<li role="presentation" class="active"><a href="#'+'table'+'" aria-controls="'+'table'+'" role="tab" data-toggle="tab">'+'Table'+'</a></li>'
}
$('#tablist').html(html)
}

//////////////////////////////////////////
//////  CAPATILIZE FIRST LETTER    //////
////////////////////////////////////////
function capitalize(str) {
  return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
}

///////////////////////////////////
////////  LOADING OF TOOLS ///////
/////////////////////////////////
function templateLoad(template,location){
//Ensure that the first load error is covered , also any other errors.
if(template){
  jQuery.ajax({
   'async': true,
   'global': false,
   'url': '/templatename?template='+template,
   'success': function (dataSchemaObject) {
     jQuery('#'+location).append(dataSchemaObject)
   }
 });
}
}

///////////////////////////////////////////////////
////        REQUIRED FORMATING OF DATA        //// 
/////////////////////////////////////////////////
function dataFormat(){
  var temp = []
  //This is where the id is injected into the menu item . Crude hacky work around , not sure how to improve.
  for (var i = 0; i < tablelistdata.length; i++) {
      //the add the id to the array going into the menu .
      if (tablelistdata[i]['elementID'] == "") {
        tablelistdata[i].entry._id = tablelistdata[i]['_id']
      }else{
        tablelistdata[i].entry._id = tablelistdata[i]['elementID']
      }
      tablelistdata[i].entry.name = tablelistdata[i]['name']
      tablelistdata[i].entry.childType = tablelistdata[i]['childType']
      tablelistdata[i].entry.name = tablelistdata[i]['name']
   // tablelistdata[i].entry.detail1 = tablelistdata[i]['detail']
   tablelistdata[i].entry.userID = tablelistdata[i]['userID']
   tablelistdata[i].entry.parentid = tablelistdata[i]['parentid']
   temp.push(tablelistdata[i].entry)
 }
 tablelistdata = temp
}

//////////////////////////////////////////
////        CREATE UNIQUE ID         //// 
////////////////////////////////////////
function create_uid() {
  function s4() {
    return Math.floor((1 + Math.random()) * 0x10000)
    .toString(16)
    .substring(1);
  }
  return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
  s4() + '-' + s4() + s4() + s4();
}

///////////////////////////////////////////////
////  MODIFY THE IDS OF RELEVANT ITEMS    //// 
/////////////////////////////////////////////
function uniqueIdforcformButton(){
  jQuery('#formDelivery').attr("id",formids);
}

///////////////////////////// 
//////  INITIALISE    //////
/////////////////////////// 
$('document').ready(function(){
  dataFormat()
  layoutView() 
  tabview()
  tablist()
})

</script>