
<div class="panel panel-default">
  <div class="panel-body"> 
    <div  id="toolbar"class="btn-group" role="group" aria-label="..." style="position: absolute;top: 2px;right: 19px;color: grey">
    </div>
<div class="row">
  <div class="col-md-12"><h1 id="name"></h1></div>
</div>

<div class="row" style="padding-bottom:35px">
  <div class="col-md-6">
    <div id="Images">

    </div>
  </div>
  <div class="col-md-6">
    <!--<dl class="dl">
      <dt>Catagory :</dt>
      <dd id="Category">{{item.category}}</dd>
    </dl>-->
    <dl class="dl">
      <dt>Supplier :</dt>
      <dd id="Supplier">   </dd>
    </dl>
    <dl class="dl">
      <dt>Product Title :</dt>
      <dd id="detail"> </dd>
    </dl>
    <div class="btn-group">
      <button type="button" class="btn btn-success" >Usage  <span class="badge">42</span></button>
    </div>
    <div class="btn-group" role="group" aria-label="..." style="padding-top:0px">
      <!-- Split button -->
      <div class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2" data-whatever="@mdo">Add to Conveyor</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" data-toggle="modal" data-target="#myModal1" data-whatever="@mdo">Get a Quote</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#"  data-toggle="modal" data-target="#myModal" data-whatever="@mdo" >Add to Bulk Cart</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <dl class="dl">
      <dt>Detail :</dt>
      <dd id="Description">
         
      </dd>
    </dl>
  </div>
</div>
 
  </div>
</div>
<script type="text/javascript">

 
//The menu item from JSTREE
var items = {{{query}}}
//The applicable form for use ( query.childtype)
var query1 = {{{query1}}}
//The form in queston
var query2 = {{{query2}}}
//the form elements.
var query3 = {{{query3}}}
//the form datasets.
var query4= {{{query4}}}
//The query.parentid items.
var tablelistdata = {{{query3}}};
//Unique if for the forms.
var formids = create_uid()
var templateload = {{{templateload}}}
 
 
/////////////////////////////////////
////     HEADINGS AND STUFF     //// 
///////////////////////////////////
$('#name').html(items.name)
$('#detail').html(items.detail)


/////////////////////////////
////     DEBUG AREA     //// 
///////////////////////////
console.log( 'databasetablelist loading' )
console.log( '-------------------------' )
console.log( 'items : ',items )
console.log( 'query1 : ',query1 )
console.log( 'query2 : ',query2 )
console.log( 'query3 : ',query3 )
console.log( 'query4 : ',query4 )
console.log( 'tablelistdata : ',tablelistdata )
console.log( 'formids : ',formids )
console.log( '-------------------------' )
console.log( 'databasetablelist loading' )
  

///////////////////////////// 
//////  INITIALISE    //////
/////////////////////////// 
$('document').ready(function(){
 	
  var img = '/img/uploads/default-product.png'
    var html = '<div class=""><a class="thumbnail" style=""><img  src='+img+' class="attachment-shop_single size-shop_single wp-post-image" alt="aircannon" srcset=" " style="max-height:300px" sizes="(max-width: 600px) 100vw, 600px"></a></div>  '
$('#Images').html(html)

})
 </script>