 <h1>User List</h1>

<p></p>
<table class="table table-bordered" id="User">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Permission</th>
    </tr>
  </thead>
  <tbody>
    {{#each username}}
    <tr>
      <td>
      <a href="/users/{{this.username}}"><img src="/uploads/{{this.id}}.jpg " style="max-width: 30px">  {{this.username}}</a>
     </td>
      <td>
       {{this.email}}
     </td>
      <td>
       {{this.permission}}
     </td>
   </td>
 </tr>
 {{/each}}
</tbody>
</table>

<script type="text/javascript">
  
////////////////////////////////////
////        INITIALIZE         //// 
//////////////////////////////////
$('document').ready(function(){
var table = jQuery('#User').DataTable({
  'destroy':true,
  "pagingType": "numbers",        dom: 'Bfrtip',
        buttons: [
             { extend: 'csv', text: 'Export to CSV' ,className:'btn btn-default btn-sm' ,filename: 'Data export' ,title: 'Table export'}, { extend: 'pdf', text: 'Export PDF' ,className:'btn btn-default btn-sm' ,filename: 'Data export' ,title: 'Table export'}
        ]
  //  'order': [[ 2, 'asc' ]] ,
});
})





</script>